body {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.page {
    display: none;
    padding: 1%;
}

.page:target {
    display: block;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0094F6;
    color: white;
    padding: 1%;
    text-align: center;
    z-index: 1000;
    font-size: 2em;

}

nav a {
    color: #ffffff;
    margin: 2%;
    text-shadow: 1px 1px 2px #000000;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
}

nav a:hover {
    color: #000000;
    text-shadow: 1px 1px 2px #ffffff;
}

section {
    margin-top: 10vh;
}

::-webkit-scrollbar {
    width: 0px;
}



/* Home Page Style*/
.photoHomeDiv {
    display: flex;
    justify-content: center;
}

.homePhoto {
    max-width: 30%;
    height: auto;
    border: #ffffff solid 5px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 3);
}

/* Hobbiew Page Style*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

.grid-item {
    text-align: center;

}

.hobbiesPhoto {
    max-width: 45%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1s ease-in-out;
}

.scale:hover .hobbiesPhoto {
    transform: scale(1.09);
}

.image-text {
    margin-top: 2%;
    font-size: 1rem;
    color: #333;
}

/*  Birthday Page */
.birthday-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.birthday-message {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show-message .birthday-message {
    display: block;
    opacity: 1;
}

.birthday-message form {
    max-width: 100%;
    margin: auto;
}

textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: #0094F6;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 15%;
}

button:hover {
    background-color: #0269ad;
    color: #000000;
}

.birthday-message button:hover {
    background-color: #0077CC;
}

.birthday-content img {
    width: 25%;
    margin: 1%;
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Slider Page */
.slider {
    max-width: 60%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.country-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    font-size: 1.2em;
    z-index: 1;
}


@keyframes slideAnimation {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.slider-content {
    animation: slideAnimation 20s infinite;
}